<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia | Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="home">
    <header class="header--vertical">
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/music">music</a></li>
                <li><a href="/contacto">contact</a></li>
            </ul>
        </nav>
        <nav>
            <a href="">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-spotify"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-apple"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-amazon"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </nav>
    </header>
    <main>
        <h2>Emilia <br>Cole //</h2>
        <h1>Twist in my reality</h1>
    </main>
    <script src="https://kit.fontawesome.com/be2c20f70d.js" crossorigin="anonymous"></script>
</body>

</html>