<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia | Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="music">
    <header class="header--horizontal">
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/music">music</a></li>
                <li><a href="/contacto">contact</a></li>
            </ul>
        </nav>
        <nav>
            <div>
                <a href="">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-square-facebook"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-spotify"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-apple"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-amazon"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                </a>
            </div>
        </nav>
    </header>
    <main>
        <h1>MUSIC//</h1>
        <nav>
            <h5>Direct links</h5>
            <ul>
                <li><a href="#album">Album</a></li>
                <li>
                    <a href="#organic">Video: Organic Love</a>
                </li>
                <li>
                    <a href="#street">Video: Street Light</a>
                </li>
            </ul>
        </nav>
        <section>
            <article>
                <h4>album <br> twit in my reality</h4>
                <img src="/img/emilia-play-list.png" width="640px" alt="emilia-play-list">
                <ol start="1">
                    <li>
                        <i class="fas fa-play"> Organic Love | 02:40</i>
                    </li>
                    <li>
                        <i class="fas fa-play"> Twist | 02:40</i>
                    </li>
                    <li>
                        <i class="fas fa-play"> Street Light | 03:28</i>
                    </li>
                    <li>
                        <i class="fas fa-play"> Love Don’t Live Here Anymore (Cover) | 03:49</i>
                    </li>
                </ol>
            </article>
        </section>
        <section>
            <article>
                <h2>VIDEO <br>ORGANIC LOVE
                </h2>
                <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
                </iframe>
                <p>
                    Directed by VINCE MALC & EMILIA COLE
                </p>
                <p>
                    Edited and Filmed by NICOLAS TROY
                </p>
                <p>Produced by NIKI HEART <br> Wix Films LTD.</p>
                <a href="#">Go Top</a>
            </article>
        </section>
    </main>
</body>
<script src="https://kit.fontawesome.com/be2c20f70d.js" crossorigin="anonymous"></script>

</html>