<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia | Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="music">
    <header class="header--horizontal header--music">
        <nav class="header--horizontal-menu">
            <ul>
                <li><a href="/">| home |</a></li>
                <li><a href="/about">about |</a></li>
                <li><a href="/music">music |</a></li>
                <li><a href="/contacto">contact |</a></li>
            </ul>
        </nav>
        <nav class="header--horizontal-redes">
            <a href="">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-spotify"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-apple"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-amazon"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </nav>
    </header>
    <main>
        <h1>MUSIC//</h1>
        <nav>
            <h3>Direct links</h3>
            <ul>
                <li><a href="#album">Album</a></li>
                <li>
                    <a href="#organic">Video: Organic Love</a>
                </li>
                <li>
                    <a href="#street">Video: Street Light</a>
                </li>
            </ul>
        </nav>
        <section>
            <h3>album <br> twit in my reality</h3>
            <div>
                <img src="/img/emilia-play-list.png" alt="emilia-play-list">
                <ol start="1">
                    <li>
                        <i class="fas fa-play"></i>
                        Organic Love | 02:40
                    </li>
                    <li>
                        <i class="fas fa-play"> </i>
                        Twist In My Reality 02:10
                    </li>
                    <li>
                        <i class="fas fa-play"></i>
                        Street Light | 03:28
                    </li>
                    <li>
                        <i class="fas fa-play"></i>
                        Love Don’t Live Here Anymore (Cover) | 03:49
                    </li>
                </ol>
            </div>
            <a href="#">Go Top</a>
        </section>
        <section>
            <h3>VIDEO <br>ORGANIC LOVE</h3>
            <div>
                <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360"
                    allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
                </iframe>
                <p>
                    Directed by VINCE MALC & EMILIA COLE
                </p>
                <p>
                    Edited and Filmed by NICOLAS TROY
                </p>
                <p>Produced by NIKI HEART</p>
                <p>Wix Films LTD.</p>
                <a href="#">Go Top</a>
            </div>
        </section>
        <section>
            <h3>video <br>STREET LIGHT</h3>
            <div>
                <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108"
                    allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <p>
                    Directed by VINCE MALC & EMILIA COLE
                </p>
                <p>
                    Edited and Filmed by NICOLAS TROY
                </p>
                <p>Produced by NIKI HEART</p>
                <p>Wix Films LTD.</p>
                <a href="#">Go Top</a>
            </div>
        </section>
    </main>
    <script src="https://kit.fontawesome.com/be2c20f70d.js" crossorigin="anonymous"></script>
</body>

</html>