.contact main section article h4 {
    color: var(--colorVerde);
    font-weight: 500;
}

.contact main section iframe {
    width: 100%;
    height: 360px;
    border: none;
}
.contact main section p span{
    color: grey;
}
.contact h2,
h3 {
    text-transform: uppercase;
}
.contact h4{
    font-size: 14px;
}