.header nav ul {
    margin-top: 0;
    margin-bottom: 0;
}

.header--vertical {
    margin-top: 20px;
    margin-left: 30px;
}

.header--horizontal {
    text-align: right;
    margin-top: 30px;
}

.header--horizontal-menu {
    background-color: rgba(255, 255, 255, .5);
    padding-top: 8px;
    padding-bottom: 8px;
}

.header--vertical a,
.header--horizontal a {
    text-transform: uppercase;
    line-height: 30px;
    font-weight: 300;
}

.header--horizontal nav ul li {
    display: inline;
}