@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@400;500;600;700;800&family=Work+Sans:wght@200;400;700&display=swap');
@import '/css/general.css';
@import '/css/header.css';
@import '/css/home.css';
@import '/css/music.css';
@import '/css/contact.css';
@import '/css/about.css';